body{
	font-family: 'Quicksand', sans-serif;
	background-image: url("http://longwallpapers.com/Desktop-Wallpaper/lord-of-the-rings-landscape-wallpapers-phone-For-Desktop-Wallpaper.jpg");
}
.card-header{
	font-size: 25px;
	font-family: 'Pacifico', cursive;
}

video {
    max-width: 100%;
    height: auto;
}