html, body{
	height: 100%;
}
body{

	background-image: url("http://longwallpapers.com/Desktop-Wallpaper/lord-of-the-rings-landscape-wallpapers-phone-For-Desktop-Wallpaper.jpg");
}

.heigthMax{
	height: 100%;
}